
-# <br>
-# 今日は7月20日月曜日

 
-# = form_with model: @post, class: :form, local: true do |form|

-#   = form.date_field :day, placeholder: :日にち？, class: :form__day
-#   <br>
-#   = form.text_field :item, placeholder: :何買った？, class: :form__title
-#   <br>
-#   = form.text_field :price, placeholder: :金額は？, class: :form__text
-#   <br>
-#   = form.select :category, [["投資"], ["消費"], ["浪費"]], prompt: '選択してください'
-#   <br>
-#   = form.text_field :note, placeholder: :理由（あれば）, class: :form__reason


-#   <br>
-#   = form.submit '投稿する', class: :form__btn


