// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_box{
  // background-color: peachpuff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}

.header{
  height: 100px;
  position: relative;   

  &__image{
    height: 100%;
  }

  &__right{
    position: absolute;
	  bottom: 0;
    right: 0;
    color: #20B2AA;
   
    &__btn{

    }
    &__mypage{

    }
  }
}


a {
  text-decoration: none;
  color:#20B2AA;
}


table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #496668;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#02b9b0,#34aca6);
  border-left: 1px solid #496668;
  border-top: 1px solid #496668;
  border-bottom: 1px solid #496668;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  height: 5px;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;

}



.form_body{
  height: 40px;
  width: 130px;
  margin-top: 3px;
  margin-bottom: 3px; 
  margin-right: 5px; 
  margin-left: 5px;
  color: gray;
}

.form_body__day{
  height: 40px;
  width: 160px;
  color: gray;
  margin-right: 5px; 
}

.form_body__item{
  height: 40px;
  width: 160px;
  
}

.form_body__note{
  height: 40px;
  width: 190px;
  
}

.form_btn{
  margin-top: 5px;
  height: 40px;
  width: 150px;
}

.box{
  height: 45px;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px; 
  color: gray;
}



.category_text{
  color: rgb(134, 28, 28);
}

.main_form{
  background-color: brown;
}

.chartjs-render-monitor{
 
  margin-top: 100px;
}